<% var userInfo = yield $User.getUserByName(name) %>
<% var curSection="user" %>
<% var curPage="userLogin" %>
<div class="ui cards">
  <div class="card">
    <div class="content">
      <div class="userCard">
        <img src=" <%=: userInfo.email | gravator %>" alt="">
        <div class="info">
          <p><%=userInfo.name%></p>
          <p class="meta"><%=userInfo.gender%></p>
        </div>
      </div>
      <div class="description">
        <%=userInfo.signature%>
      </div>
    </div>
    <% if ($this.session.user){%>
    <div class="extra content">
      <a href="/use/<%=userInfo.name%>">
        <i class="home icon"></i>个人主页
      </a>
      <a href="#" class="right floated">
        <i class="setting icon"></i>设置
      </a>
    </div>
    <%}else{%>
    <div class="extra content">
      <a href=""><i class="send icon"></i></a>私信
      <a href="" class="right floated"><i class="plus icon"></i></a>
    </div>
    <%}%>
  </div>
</div>